.Welcome .Main-Text h1{
    font-size: 80pt;
    margin-top: 10%;
    color: black;
}
.Welcome .Main-Text .Line {
    margin-left: 20%;
    margin-top: 20px;
    width: 60%;
    border-bottom: solid 3px black;
}
.Welcome .Main-Text h2 {
    color: black;
    font-weight: bold;
    margin-top: -20px;
    background-color: white;
}
.Welcome .Main-Text .Black-Text {
    padding-left: 32%;
    padding-right: 32%;
}
.Welcome .Main-Text .Line1 {
    margin-left: 32%;
    margin-top: 20px;
    width: 35%;
    border-bottom: solid 3px black;
}
.Welcome .Bottom-Panda{
    width: 100% ;
    position: absolute;
    bottom: 0;
    left: 0;
}
.Welcome .Bottom-Panda .Bottomimg{
    height: 122px;
    width: 100%;
}
@media screen and (max-width:991px) {
    .Welcome .Bottom-Panda .Bottomimg{
        height: 50px;
    }
    .Welcome .Main-Text h1{
        font-size: 30pt;
    }
    .Welcome .Main-Text h2{
        font-size: 15pt;
    }
}